@font-face {
  font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaRegular", "RobotoRegular";
  position: relative;
  color: rgba(33, 37, 41, 1);
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: rgba(33, 37, 41, 1);
  font-family: "RobotoRegular";
}
a:hover {
  color: rgba(221, 215, 192, 1);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
:root {
  scroll-behavior: smooth;
}

.container {
  max-width: 1376px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (max-width: 1440px) {
  .container {
    max-width: 1000px;
    padding: 0 15px;
  }
}

@media (max-width: 1030px) {
  .container {
    max-width: 344px;
  }
}

.header__wrapper {
  display: flex;
  padding: 12px 0 40px;
  height: 108px;
}
.header__wrapper_menu {
  padding-left: 861px;
}
.header__wrapper_tel {
  margin-left: auto;
}
.header__wrapper_menu ul li a {
  line-height: 28px;
}
.header__burger {
  display: none;
}

@media (max-width: 1440px) {
  .header__wrapper_menu {
    padding-left: 550px;
  }
}

@media (max-width: 1030px) {
  .header__wrapper {
    padding: 8px 0 20px;
    height: 41px;
    position: relative;
  }
  .header__wrapper_menu,
  .header__wrapper_tel {
    display: none;
  }

  .header__wrapper_menu.active {
    display: block;
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 10;
    padding-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .header__wrapper_logo {
    width: 39px;
    height: 41px;
    z-index: 15;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 24px;
    height: 16px;
    cursor: pointer;
    margin-left: 280px;
    margin-top: 10px;
    z-index: 5;
    transition: all 0.3s ease 0s;
  }

  .header__burger span,
  .header__burger::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(33, 37, 41, 1);
  }
  .header__burger::before {
    position: absolute;
    right: 0;
    width: 50%;
    height: 10%;
    background-color: rgba(33, 37, 41, 1);
  }
  .header__burger::after,
  .header__burger::before {
    content: "";
  }

  .header__burger::after {
    top: 0;
  }

  .header__burger::before {
    bottom: 0;
  }

  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .header__burger.active span {
    transform: scale(0) translate(0px, -50%);
  }

  .header__burger.active::before {
    width: 100%;
    bottom: 50%;
    transform: rotate(-45deg) translate(0px, 50%);
  }

  .header__burger.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }
}

.exposition__wrapper_title {
  display: flex;
}
.exposition__wrapper_title h1 {
  max-width: 794px;
  font-size: 72px;
  font-weight: 400;
}
.exposition__wrapper_title a {
  margin-left: auto;
  margin-top: 235px;
  text-decoration: underline;
}
.exposition__wrapper_column {
  display: flex;
}
.exposition__wrapper_column-left p {
  font-family: "RobotoRegular";
  font-size: 20px;
  max-width: 445px;
  margin: 0 0 232px 0;
  line-height: 28px;
}
.exposition__wrapper_column-left a {
  text-decoration: underline;
  display: none;
}
.exposition__wrapper_column-right {
  margin-left: auto;
}
.exposition__mobile {
  display: none;
}
@media (max-width: 1440px) {
  .exposition__wrapper_title h1 {
    max-width: 600px;
    font-size: 50px;
  }
  .exposition__wrapper_column-left p {
    font-size: 20px;
    max-width: 400px;
    margin: 0 0 145px 0;
    line-height: 28px;
  }
  .exposition__wrapper_title a {
    margin-top: 180px;
  }
}

@media (max-width: 1030px) {
  .exposition__wrapper_column {
    display: block;
  }
  .exposition__wrapper_title a {
    display: none;
  }

  .exposition__wrapper_title h1 {
    max-width: 343px;
    font-size: 32px;
  }
  .exposition__wrapper_column-left p {
    font-size: 16px;
    line-height: normal;
    margin: 0 0 24px 0;
  }
  .exposition__wrapper_column-left img {
    display: none;
  }
  .exposition__wrapper_column-left a {
    display: block;
    font-size: 16px;
    margin: 0 0 24px 0;
  }
  .exposition__desktop {
    display: none;
  }
  .exposition__mobile {
    display: block;
  }
}
.history__wrapper {
  display: flex;
  margin-top: 120px;
}
.history__wrapper h2 {
  font-size: 48px;
  line-height: 66px;
  max-width: 562px;
  font-weight: 400;
  margin: 0;
}
.history__column {
  margin: 29px 0 0 135px;
}
.history__column_target p {
  font-family: "RobotoRegular";
  font-size: 16px;
  max-width: 446px;
}
.history__column_promises {
  margin-top: 44px;
}
.history__column_promises h3 {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}
.history__column_promises p {
  margin: 0 0 24px 0;
  max-width: 146px;
  font-family: "RobotoRegular";
  font-size: 16px;
  font-weight: 400;
}
.history__column_target h2 {
  display: none;
}

@media (max-width: 1030px) {
  .history__wrapper h2 {
    display: none;
  }
  .history__column_target h2 {
    display: block;
    font-size: 28px;
  }
  .history__wrapper {
    margin-top: 48px;
  }
  .history__column {
    margin: 0;
  }
  .history__column_promises {
    margin-top: 32px;
  }
  .history__column_promises h3 {
    font-size: 24px;
  }
  .history__column_target p {
    max-width: 328px;
  }
}
.work__wrapper {
  display: flex;
  margin-top: 120px;
}
.work__wrapper h2 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  width: 562px;
}
.work__wrapper_column {
  margin-left: 136px;
  max-width: 678px;
}
.work__wrapper_column p {
  font-size: 16px;
  font-weight: 400;
  max-width: 329px;
  margin-bottom: 20px;
  line-height: 22px;
}
.work__wrapper_column-item {
  display: flex;
  border-bottom: solid 1px rgba(0, 0, 0, 1);
  padding: 24px 0 24px 0;
}
.work__wrapper_column-item h3 {
  font-size: 36px;
  font-weight: 400;
  width: 328px;
  line-height: 49px;
  margin: 0;
}
.work__wrapper_column-item p {
  margin: 0;
  font-family: "RobotoRegular";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 329px;
  margin-left: 20px;
}
@media (max-width: 1030px) {
  .work__wrapper {
    display: block;
    margin-top: 48px;
  }
  .work__wrapper h2 {
    font-size: 28px;
    width: 343px;
  }
  .work__wrapper_column {
    margin-left: 0;
    max-width: 343px;
  }
  .work__wrapper_column-item {
    display: block;
    border-bottom: solid 1px rgba(0, 0, 0, 1);
    padding: 20px 0 20px 0;
  }
  .work__wrapper_column-item h3 {
    font-size: 24px;
    width: 343px;
    line-height: 33px;
  }
  .work__wrapper_column-item p {
    width: 343px;
    margin-left: 0;
    padding-top: 20px;
  }
}

.project__wrapper h2 {
  font-size: 48px;
  font-weight: 400;
  margin: 120px 0 32px 0;
}

.project__slider {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.project__slider__item {
  width: 445px;
  height: 580px;
  margin-bottom: 20px;
}

.project__slider .slick-arrow {
  position: absolute;
  z-index: 10;
  top: 100%;
  margin-top: -10px;
  font-size: 0;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.project__slider .slick-arrow.slick-prev {
  left: 35%;
  background: url(../img/prevbutton.svg) 0 0 / 100% no-repeat;
}

.project__slider .slick-arrow.slick-arrow.slick-next {
  right: 35%;
  background: url(../img/prevbutton.svg) 0 0 / 100% no-repeat;
  transform: rotate(180deg);
}

@media (max-width: 1440px) {
  .project__slider {
    display: block;
  }
  .project__slider__item {
    margin: 0 auto;
  }
}

@media (max-width: 1030px) {
  .project__wrapper h2 {
    font-size: 28px;
    margin: 48px 0 20px 0;
  }
  .project__slider__item {
    width: 292px;
    height: 368px;
  }
}

.review__wrapper h2 {
  font-size: 48px;
  font-weight: 400;
  margin: 100px 0 32px 0;
}
.review__list {
  display: flex;
  justify-content: space-between;
}
.review__item {
  width: 445px;
  height: 327px;
  border: solid 1px rgba(0, 0, 0, 1);
  text-align: center;
}
.review__item_icon {
  width: 40px;
  height: 40px;
  margin-top: 40px;
}
.review__item_name {
  font-size: 18px;
  font-weight: 400;
  margin: 32px 0 20px 0;
}
.review__item_text {
  font-family: "RobotoRegular";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  max-width: 365px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .review__item {
    width: 310px;
  }
}
@media (max-width: 1030px) {
  .review__wrapper h2 {
    font-size: 28px;
    margin: 58px 0 20px 0;
  }
  .review__list {
    display: block;
  }
  .review__item {
    width: 343px;
    height: 332px;
    margin-bottom: 16px;
  }
  .review__item_icon {
    width: 32px;
    height: 32px;
    margin-top: 32px;
  }
  .review__item_text {
    max-width: 278px;
  }
}

.order__wrapper {
  display: flex;
  margin-top: 120px;
}
.order__wrapper_img {
  width: 562px;
  height: 566px;
  margin-right: 136px;
}

.order__form_column h2 {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
}
.order__form_column p {
  font-family: "RobotoRegular";
  font-size: 16px;
  font-weight: 400;
  margin: 32px 0 72px 0;
}

.formInput {
  margin: 0 0 12px 0;
  border: none;
  border-bottom: solid 1px rgba(33, 37, 41, 1);
  width: 558px;
  padding-bottom: 12px;
}
.formInput::-webkit-input-placeholder {
  color: rgba(33, 37, 41, 1);
  font-family: "RobotoRegular";
  font-size: 16px;
  font-weight: 400;
}
.order-form__submit {
  width: 176px;
  height: 46px;
  background-color: rgba(33, 37, 41, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "RobotoRegular";
  font-size: 16px;
  cursor: pointer;
  margin-top: 12px;
}
.order__links {
  display: flex;
  margin: 40px 0 0 0;
}
.order__links a img {
  margin: 0 8px 0 0;
  width: 121px;
  height: 36px;
}
@media (max-width: 1440px) {
  .order__wrapper_img {
    width: 502px;
    height: 506px;
    margin-right: 86px;
  }
  .order__form_column h2 {
    font-size: 34px;
  }
  .formInput {
    width: 380px;
  }
}
@media (max-width: 1030px) {
  .order__wrapper {
    margin-top: 48px;
  }
  .order__wrapper_img {
    display: none;
  }
  .order__form_column h2 {
    font-size: 28px;
  }
  .order__form_column p {
    margin: 20px 0 32px 0;
  }
  .formInput {
    width: 342px;
  }
}
footer {
  margin-top: 120px;
  padding-bottom: 15px;
}
.footer__column {
  display: flex;
}
.footer__column_av {
  font-family: "RobotoRegular";
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.footer__column_pol {
  font-family: "RobotoRegular";
  font-size: 16px;
  font-weight: 400;
  margin: 22px 0 0 280px;
}
.footer__links {
  font-family: "RobotoRegular";
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 0 auto;
}
.footer__links a:first-child {
  margin-right: 40px;
}
@media (max-width: 1440px) {
  .footer__column_pol {
    margin-left: 110px;
  }
}
@media (max-width: 1030px) {
  footer {
    margin-top: 60px;
  }
  .footer__column {
    flex-direction: column-reverse;
    align-items: center;
    max-width: 280px;
  }
  .footer__column_av {
    text-align: center;
  }
  .footer__column_pol {
    margin: 24px 0 28px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__column_pol span {
    display: none;
  }
  .footer__links {
    margin: 0;
  }
}
